rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if true;
    }
    match /onlinePlayers/{userId} {
      allow read, write: if true;
    }
    match /leaderboard/{userId} {
      allow read, write: if true;
    }
    match /tradeRequests/{requestId} {
      allow read, write: if true;
    }
    match /gifts/{giftId} {
      allow read, write: if true;
    }
  }
}

